<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home title</title>
</head>
<body>
    <h1>Testing ejs 1+2</h1>
    <h1>Testing ejs <%=  ["mango","banana","jackfruit"][2] %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores beatae eius quas architecto corrupti asperiores impedit, laudantium ipsam cum nostrum quos cupiditate minima, distinctio ratione hic corporis nemo ipsa quia.</p>
    <button>submit</button>
</body>
</html>