html{
    font-size: 20px;
}

body{
    margin: 0;
}

div{
    border: 5px solid blue;
    background-color: red;
    text-align: center;
    width: 100vw;
    height: 100vw;
    padding: ;

}

p{
    font-size: 0.7rem;
}

p span{
    font-size: 2em;
}