div{
    background-color: blue;
    color: red;
    width: 50%;
    
}

#musfiq{
    background-color: yellow;
    color: black;
    text-align: center;
   
    margin-top: 50px;
    margin-bottom: 50px;
    width: 10%   ;
}