<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user" method="post">
        <table border="1">
            <tr>
                <td>
                    <label for="name">Name</label>
                    <input type="text" name="name">
                </td>
                <td>
                    <label for="email">Email</label>
                    <input type="email" name="email">
                </td>
                <td>
                    <label for="password">Password</label>
                    <input type="password" name="password">
                </td>
            </tr>
        </table>
        <button>Submit</button>
    
    </form>
</body>
</html>