<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individiual post</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <H1>Post id is: <%= post.id %> </H1>
        
        <div>
            <h4><%= post.username %></h4>
        <h3><%= post.post %></h3>
        </div>
        
      

</body>
</html>